ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Background color of the navbar */
    overflow: hidden;
}
body{
    color:blueviolet;
}

li.nav-item {
    float: left;
}

li.nav-item a {
    display: block;
    color: white; /* Text color of the navbar links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color when hovered */
li.nav-item a:hover {
    background-color: #555; /* Background color on hover */
}


shape{
    display: inline-flex;
    font-size: 20px;
    margin-right: 5px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

/* ... (rest of your CSS styles) */

li a{
    text-decoration: none;
    color: rgba(0, 38, 255, 0.322);
}
li a:hover{
    text-decoration: none;

}
.home{
    padding: 200px 150px 200px 150px;
    text-align: center;
    color:cadetblue;
}
img{
    padding: 100px 0 100px 0;
}
a{
    margin: 0 30px 0 0;
}
.wiki{
    border-radius: 5px;
    background-color: rgb(0, 255, 200);
    color: black;
    padding: 14px 40px 14px 40px;
}
.wiki:hover{
    text-decoration: none;
}
.yt{
    border-radius: 5px;
    background-color: rgb(255, 0, 43);
    color: black;
    padding: 14px 40px 14px 40px;

}
.yt:hover{
    text-decoration: none;
}
.store{
    border-radius: 5px;
    background-color: rgb(68, 0, 255);
    color: black;
    padding: 14px 40px 14px 40px;
}
.store:hover{
    text-decoration: none;
}
.quote{
    text-align: center;
    background-color: rgb(139, 0, 139);
    color: rgb(0, 204, 255);
    margin-top: 100px;
    padding: 20px 10px 10px 10px;
    font-size: 20px;
}
.award{
    text-align: center;
    margin-top: 50px;
}

.award-image {
    width: 500px;
    height: 100%;
    object-fit: cover; 
}

.honour{
    text-align: center;
    margin: 40px 30px 0 40px;
    padding-top: 40px;
    border-radius: 5px;
    border-style: groove;
    font-size: 15px;
}